html{
    scroll-behavior: smooth;
}
body{
    background: #a8a8a8;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}
.navBar{
    margin-top: 5vh;
    position: fixed;
    top: 0;
    background: transparent;
    display: flex;
    justify-content: right;
    width: 100%;
    transition: all .5s ease;
    z-index: 10;
}

.drop-down button{
    border-style: none;
    background: none;
    opacity: 0;
    animation: reveal1 2s forwards var(--d);
    color: whitesmoke;
}

a:hover{
    cursor: pointer;
}

@keyframes reveal1 {
    from{transform: translateY(20px);}
    to{opacity: 1; transform: none;}
}


.display{
    opacity: 1;
}

.logo{
    padding: 10px;
}



.intro .textLine{
    display: block;
}

.intro{
    width: fit-content;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(25px);
    padding: 5vh 5vw;
    color: transparent;
}

#work{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#a8a8a8, rgba(0,0,0,0));
    margin:0;
}

.name{
    position: sticky;
    top: 0;
    left: 10px;
}

.textLine{
    --total: calc(var(--duration) + var(--delay));
    padding-left: 5px;
    padding-right: 25px;
    position: relative;
    overflow: hidden;
    animation: reveal 1.5s var(--total) forwards;
    
}

.color{
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    color: transparent;
    overflow: hidden;
    animation: revealColor 1.5s var(--total) forwards;
}


.textLine:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: whitesmoke;
    animation: rollIn var(--duration) var(--delay) forwards,
    rollOut var(--duration) var(--total) forwards;
}

.textLine:not(:first-child){
    margin-top: 5px;
}





@keyframes revealColor {
    to {
        color: #27497c;
    }
}
@keyframes rollIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes rollOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(105%);
    }
}

@media only screen and (min-width: 767px){

    h1{
        font-size: 4rem;
    }

    @keyframes reveal {
        to {
            color: whitesmoke;
        }
    }

    .drop-down{
        display: flex;
        justify-content: right;
        padding: 2px;
        padding-right: 5vw;
        width: 70%;
        
    }

    .item{
        width: 60%;
        text-align: center;
        align-items: center;
        padding: 5px;
        margin: auto;
    }

    .item:hover{
        background: rgba(200, 200, 200, .9);
        color: rgba(37,37,37,.7);
        cursor: pointer;
    }

    .burger{
        display: none;
    }

    header{
        height: 80vh;
        width: 95vw;
        color: whitesmoke;
        padding-left: 5vw;
        padding-top: 20vh;
        /* background: radial-gradient(circle at 40% 40%, #565656 25%, transparent 26%),radial-gradient(circle at 60% 60%, #56565680 25%, transparent 26%);
        background-size: 1em 1em;
        background-color: #404040;
        opacity: 1; */
         background: url(header-background.svg);
    }
}

@media only screen and (width < 767px){

    h1{
        font-size: 2rem;
    }
    @keyframes reveal {
        to {
            color: aliceblue;
        }
    }
    
    .drop-down{
        display: none;
    }


    .burger{
        display: flex;
        flex-direction: column;
        margin: 2px;
        width: 50px;
        justify-content: space-evenly;
    }

    .burger:hover{
        background: rgba(200, 200, 200, .9);
        cursor: pointer;
    }

    .line{
        height: 2px;
        background-color: black;
        width: 50%;
        margin: .5px auto .5px auto ;
    }

    header{
        height: 100vh;
        width: 100%;
        color: whitesmoke;
    }
}