body{
    margin: 0;
    background-color: #0e5574;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: #0e5574;
    font-size: 3rem;
    text-align: center;
}
p{
    color: #6cb3d1;
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.container{
    display: flex;
    margin: 100px auto 0 auto;
    width: 90%;
}
.card{
    position: relative;
    left: 0;
    background-color: #2089b5;
    height: 350px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 25px #363636;
    padding: 25px;
    transition: all .25s ease;
}

.card:not(:first-child){
    margin-left: -30px;
}

.card:hover{
    transform: translateY(-30px);
}

.card:hover ~ .card{
    left: 50px;
}
